*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    min-width: 1325px;
}
.bbutton{
    background-color: #0061FF;
    padding: 10px 15px 10px 15px;
    color: white;
}
.bbutton:hover{
    background-color: #297AFE;
}
/*header*/
.debugh{
    border: 1px transparent red;
}
.top-bar{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 200;
    background-color: white;
}
.top-bar-container{
    min-width: 1200px;
}
.top-box{
    width: 100%;
    height: 700px;
    min-width: 1400px;
}
.content-top{
    width: 80%;
    height: 100%;
    margin: 0 10% 0 10%;
}
.top-bar-section div{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.top-bar-section a{
    text-decoration: none;
    color: black;
    padding: 20px 0 40px 0;
}
.top-bar-section a:not(.inizia):not(#supporto):not(.dropdown-elements):not(#logo-home):hover{
    padding-bottom: 36px;
    border-bottom: 2px solid green;
    height: 38px;
}
.top-bar-section #dropdown-supporto li{
    list-style: none;
    text-align: left;
    font-size: 20px;
    padding: 10px;
}
.top-bar-section #dropdown-supporto ul{
    padding: 12px 22px;
}
.top-bar-section #dropdown-supporto{
    width: 300px;
    height: 120px;
    background-color: #F2EEE8;
    position: fixed;
    right: 400px;
    top: 80px;
    display: none;
}
#supporto:hover ~ #dropdown-supporto{
    display: inline;
}
#dropdown-supporto:hover{
    display: inline;
}

header .inizia{
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: #0061FF;
    border-radius: 2px;
}
header .inizia:hover{
    background-color: #297AFE;
}
.top-bar-section-l{
    float: left;
    height: 100%;
    margin: 0 0 0 15px;
    padding: 20px;
}
.top-bar-section-c{
    display: inline-block;
    height: 100%;
    margin: 0 15px 0 0;
    padding: 20px;
}
.top-bar-section-r{
    float: right;
    height: 100%;
    text-align: right;
    margin: 0 15px 0 15px;
    padding: 20px;
}
.top-box{
    background-color: #B4D0E7;
    padding-top: 80px;
}
.header-text-box{
    margin-top: 50px;
    display: inline-block;
    width: 35%;
    height: 300px;
}
.header-text-box div{
    margin: 30px 0 20px 0;
}
.header-image-box{
    float: right;
    margin-top: 50px;
    width: 60%;
    height: 300px;
}
.header-image-box img{
    width: 100%;
}
.content-top h1{
    font-size: 92px;
    display: inline-block;
}
.content-top h2{
    font-size: 20px;
    display: inline-block;
}
.content-top i{
    color: black;
    font-size: 30px;
}

/*fine header*/


/*main*/
.debugm{
    border: 1px transparent green;
}
main{
    height: 3950px;
    margin: 250px 10% 0 10%;
}

.container-main h1{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}
.piani-main{
    margin-top: 50px;
    width: 100%;
    height: 700px;
}
.fatturazione-main div{
    display: inline-block;
    margin-right: 25px;
}
.fatturazione-main input{
    margin: 0 0 40px 0;
}
.fatturazione-main li{
    list-style-type: none;
}
.fatturazione-main li i{
    color: blue;
}


.blocchi-piani{
    display: inline-block;
    width: 350px;
    border: 1px solid #F1F1F1;
}
.blocchi-piani h1{
    font-size: 23px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F1F1F1;
}
.blocchi-piani h1 i{
    font-size: 20px;
}
.blocchi-piani h2{
    font-weight: bolder;
    margin-bottom: 12px;
}
.blocchi-piani h3{
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: 8px;
}
.blocchi-piani h4{
    color: rgb(71, 71, 71);
    font-size: 10px;
    margin-bottom: 30px;
}
.blocchi-piani h5{
    font-size: 12px;
    margin-bottom: 16px;
}
.blocchi-piani h2, .blocchi-piani h3, .blocchi-piani h4, .blocchi-piani h5, .blocchi-piani div, .blocchi-piani ul{
    padding-left: 20px;
}
.blocchi-piani ul{
    padding-left: 10px;
    margin-bottom: 120px;
}
.blocchi-piani li{
    margin-top: 15px;
}
.blocchi-piani div{
    margin: 30px 0 20px 0;
}
.blocchi-piani hr{
    border-right: 20px;
    width: 40px;
    color: lightgray;
}


.blocchi-piani1{
    float: left;
}
.blocchi-piani2{
    display: inline-block;
    margin-left: calc((100% - 1050px) / 2 );
}
.blocchi-piani3{
    float: right;
}

.blocco-enterprise{
    margin-top: 200px;
    margin-bottom: 20px;
    width: 100%;
    height: 240px;
    border: 1px solid #F1F1F1;
}
.blocco-enterprise h1{
    font-size: 23px;
    border-bottom: 1px solid #F1F1F1;
}
.blocco-enterprise div{
    top: -115px;
    position: relative;
    float: right;
}
.blocco-enterprise h2, .blocco-enterprise h3, .blocco-enterprise h5{
    padding: 0 0 20px 20px;
}
.blocco-enterprise h5{
    padding-bottom: 0;
}
.blocco-enterprise h2{
    margin-top: 20px;
}



.partner-box div{
    margin: 150px 0 0 0;
    padding: 0;
}
.partner-box{
    display: flex;
    width: 100%;
}
.foto-partner{
    width: 50%;
    height: 100%;
}
.text-partner{
    width: 50%;
    height: 100%;
}
.foto-partner img{
    width: 95%;
}
.debugx{
    background-color: transparent;
}


.wbutton{
    text-decoration: none;
    background-color: white;
    padding: 10px 15px 10px 15px;
    color: black;
    border: 1px solid black;
}
.text-partner div{
    margin-top: 30px;
}
.text-partner h2{
    font-size: 40px;
}
.text-partner h3{
    margin-top: 25px;
    font-size: 20px;
}


.box-operazioni{
    margin-top: 150px;
    width: 100%;
    height: 2000px;
}
.box-operazioni h2{
    margin: 10px 0 20px 0;
}
.operazioni-riga1{
    width: 100%;
    margin-bottom: 30px;
}
.operazioni-riga2{
    width: 100%;
}
.operazioni{
    width: 350px;
    height: 100%;
}
.operazioni1, .operazioni2, .operazioni4, .operazioni5{
    display: inline-block;
}
.operazioni3, .operazioni6{
    float: right;
}
.operazioni2, .operazioni5{
    margin-left: calc((100% - 1058px) / 2 );
}
.operazioni img{
    width: 100%;
}

.ckt{
    margin-top: 150px;
    width: 100%;
    height: 200px;
}
.ckt h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.ckt a{
    color: blue;
}











/*fine main*/



/*footer*/
/**/
.debugf{
    background-color: transparent;
}
footer{
    width: 100%;
}

.designit-container{
    width: 100%;
}


.designit-container1{
    height: 500px;
    width: 100%;
}
.designit-container2{
    height: 300px;
    width: 100%;
    background-color: #B4D0E7;
    padding: 100px 250px 0 250px;
}



.box-logo{
    width: 500px;
    height: 500px;
    background-color: red;
}
.box-logo1{
    float: left;
}
.box-logo2{
    float: right;
}
.designit-text{
    height: 500px;
    width: calc(100% - 1000px);
    display: inline-block;
    padding: 40px;
    margin: 0;
    border: 0;
    background-color: #F5F5F5;
    overflow: auto;
}
.box-logo div{
    height: 250px;
    width: 250px;
    display: inline-block;
    margin-right: -4.5px;
    margin-bottom: -5px;
}
svg{
    filter: invert(1);
}
.logo1{
    background-color: #A2D39B;
}
.logo2{
    background-color: #61082B;
}
.logo3{
    background-color: #0093CE;
}
.logo4{
    background-color: #FF1C1C;
}
.logo5{
    background-color: #D5001F;
}
.logo6{
    background-color: #B4D0E7;
}
.logo7{
    background-color: #0D2481;
}
.logo8{
    background-color: #FFD830;
}



.box-logo svg{
    width: 70%;
    height: auto;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.designit-text  svg{
    width: 150px;
}
.designit-text hr{
    margin: 20px 0 30px 0;
    width: 40px;
}
.designit-container2 div{
    float: right;
    position: relative;
    bottom: 60px;
}
.designit-container2 h2{
    font-size: 40px;
    color: #61082B;
}






.faq{
    width: 70%;
    margin: 100px 15% 150px 15%;
}
.faq hr{
    margin: 30px 0 30px 0;
}
.faq h3{
    display: inline-block;
}
.faq h4{
    float: right;
    margin-right:40px ;
}
.faq:last-child{
    margin-bottom: 250px;
}


.black-footer{
    width: 100%;
    height: 580px;
    background-color: black;
    color: white;
    padding-top: 120px;
}

.black-footer div{
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-left: calc((100% - 1200px)/5);
}
.opzioni-black-footer h2{
    margin-bottom: 20px;
}
.opzioni-black-footer li{
    list-style-type: none;
    margin: 4px 0 4px 0;
}
.opzioni-black-footer a{
    text-decoration: none;
    color: white;
}
.italiano{
    margin-left: calc((100% - 1200px)/5);
}
.italiano hr{
    width: 130px;
    margin-bottom: 50px;
}









/*fine footer*/