*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
}
/*header*/
.debugh{
    border: 1px solid red;
}
.top-bar{
    width: 100%;
    height: 80px;
}
.top-box{
    width: 100%;
    height: 700px;
}
.content-top{
    width: 80%;
    height: 100%;
    margin: 0 10% 0 10%;
}
.content-top-bar-l{
    height: 100px;
    width: 35%;
}
.content-top-bar-r{
    height: 100px;
    width: 35%;
}
/*fine header*/


/*main*/
.debugm{
    border: 1px solid green;
}
.container-main{
    height: 3000px;
    width: 80%;
    margin: 150px 10% 0 10%;

}

/*fine main*/
