*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
  }




  
/*footer*/
/**/
.debugf{
    background-color: transparent;
}
footer{
    width: 100%;
}


.black-footer{
    width: 100%;
    height: 580px;
    background-color: black;
    color: white;
    padding-top: 120px;
}

.black-footer div{
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-left: calc((100% - 1200px)/5);
}
.opzioni-black-footer h2{
    margin-bottom: 20px;
}
.opzioni-black-footer li{
    list-style-type: none;
    margin: 4px 0 4px 0;
}
.opzioni-black-footer a{
    text-decoration: none;
    color: white;
}
.italiano{
    margin-left: calc((100% - 1200px)/5);
}
.italiano hr{
    width: 130px;
    margin-bottom: 50px;
}


/*fine footer*/